//imports
@import url('https://fonts.googleapis.com/css?family=Raleway');

//consts
$width: 100%;
$height: 100%;

//fonts
$default-font: 'Raleway', sans-serif;
$header-size: 1.3em;
$content-size: 1.2em;
$form-font-size: 1.1em;

//palette
$bgground: #C5D0FF;
$panel-color: rgba($color: #FFFFFF, $alpha: 0.7);
$detail: #3E3E59;
$panel-button-color: #CC3F2D;

html, body {
	margin: 0;
	padding: 0;
	background-color: $bgground;
	font-family: $default-font;
	font-size: 100%;
	width: $width;
	height: $height;
	}

#react-app {
	height: inherit;
	}

.main-container {
	min-height: 100%;
	position: relative;
}

div, p, span {
	font-family: $default-font;
	.title {
		font-size: 1.4em;
		font-weight: bold;
	}
	.info {
		font-size: 1.2em;
		margin-bottom: 5%;
	}
}

a {
	color: black;
	text-decoration-line: none;
	font-weight: bold;
}

.link {
	text-decoration-line: underline;
	color: #1F88B5;
}

.link:hover {
	color: #3BACDC;
}

form {
	input {
		font-size: $form-font-size;
	}
	
	input:focus {
		border: 3px solid #555;
    }
    
    textarea {
        font-size: $form-font-size;
	}
	
	.radio {
		display: block;
		text-align: left;
	}

	.type-check {
		font-weight: bold;
		margin: 0 20px;
	}

	> div {
		display: flex;
		margin-top: 20px;

		> div {
			display: inline;
		}

		> label {
			min-width: 40%;
			text-align: right;
			font-weight: bold;
			margin-right: 5%;
		}
	}
}

button {
	font-size: 1em;
	padding: 5px;
	background-color: #1F88B5;
	border-radius: 10px;
	font-weight: bold;
    margin: 5%;
    border: 0;
}

button:hover {
	background-color: #3BACDC;;
}

.main-panel{
	background-color: $panel-color;
	font-size: $header-size;
	width: $width;
	height: 5vh;

	.panel-button {
		font-weight: bold;
		display: inline-block;
		text-align: center;
		height: 100%;
		margin: 0;
		padding: 0 10px;
		line-height: 2;
		border-left: 10px solid $detail;
	}

	.panel-button:hover {
		background-color: $panel-button-color;
	}
}

.logo{
	font-size: 2.5em;
	font-weight: 900;
	padding: 20px;
}

.right{
	float: right;
}

.left{
	float: left;
}

.content-container {
	padding: 5%;
	font-size: $content-size;
	text-align: center;

	.content {
		display: inline-block;
		padding: 5% 20%;
		background-color: $panel-color;
		border-radius: 25px;
	}

	.content-fullWidth {
		display: inline-block;
		padding: 5% 5%;
		background-color: $panel-color;
		border-radius: 25px;
		width: 90%;
	}
}

.footer{
	width: $width;
	text-indent: 20px;
	font-size: 1em;
	padding: 5px 0;
	position:absolute;
	bottom:0;
	display: inline-block;
	background-color: $panel-color;
}

table{
	width: 100%;

	td {
		border: 3px solid rgb(49, 49, 49);
		background-color: rgba($color: #FFFFFF, $alpha: 0.75);
		padding: 10% 5%;
		text-align: left;
		display: flex;
	}

	td:hover {
		background-color: rgba($color: rgb(165, 165, 165), $alpha: 0.75);
	}

	.pet-photo {
		width: 100px;
		height: 100px;
	}
}