<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Error</title>

        <meta name="robots" content="noindex">
    </head>
    <body>
        <h1>ERROR</h1>
        <h2><%- message %></h2>
        <pre><%- error %></pre>
    </body>
</html>