<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title><%- title %></title>

        <meta name="description" content="My Portfolio App">
        <meta name="keywords" content="JS, ES6, JavaScript, React, Redux, React-router, Express, Node.js">
        <meta name="author" content="Daniel Podolak">
    </head>
    <body>
            <div id="react-app">
                <!-- REACT APPLICATION HANDLER -->
            </div>
        <script src="/js/bundle.js"></script>
    </body>
</html>
